# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ideaIC-2019.2.3\project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
