#div2{
    position: absolute;
    overflow: scroll;
    left: 25%;
    width: 800px;
    height: 500px;
}
#div1{
    position: absolute;
    top: 50%;
    left: 5%;
}
.id{
    border: none;
    border-bottom: solid;
    outline: none;
}