#div1{
    width: 300px;
    height: 1000px;
    background-color: salmon;
    position: relative;
    left: 100px;
}
#div2 {
    width: 100px;
    height: 100px;
    position: fixed;
    top: -10px;
    left: 43%;
    background-color: blue;
}