/*结构型伪类*/
a:link {
    color: yellow;
}

a:visited {
    color: red;

}

a:hover {
    color: aqua;
    font-size: 50px;
}

a:active {
    color: darkseagreen;
}

label:hover {
    background-color: red;
}

input:hover {
    background-color: red;
}

input:active {
    background-color: yellow;
}

input:focus {
    background-color: pink;
}
