div{
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-left: 20px;
}
#div1{
    background-color: aqua;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 200px;
    margin: 200px auto;
}
*{
    margin: 0 0 0 0;
}